<h1>Listing ads</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= link_to ad.title, ad %></td>
    <td><%= ad.price %></td>
    <td><%= ad.user %></td>
    <td><%= link_to "Edit", edit_ad_path(ad) %></td>
    <td><%= link_to "Show", ad %></td>
    <td><%= link_to "Destroy", ad, :method => :delete,
                                    :confirm => "Are you sure?" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Post an ad', new_ad_path %>
